<div class="wrapper-new-task">
    <div class="new-task">
        <header class="new-task__header">
            <button class="new-task__btn-back" id="btnNewTaskBack">Wróć</button>
            <h2 class="new-task__h2">Nowe zadanie:</h2>
        </header>
        <main class="new-task__main">
            <form class="new-task__form">
                <div class="new-task__container">
                    <label class="new-task__label" for="newTaskName">Name: </label>
                    <input class="new-task__input" type="text" id="newTaskName">
                </div>
                <div class="new-task__container">
                    <label class="new-task__label" for="newTaskValue">Value: </label>
                    <input class="new-task__input" type="text" id="newTaskValue">
                </div>
                <div class="new-task__container">
                    <button class="new-task__button" id="addNewTask">Utwórz</button>
                </div>
            </form>
        </main>
    </div>
</div>